.side-navbar {
  pointer-events: none;
  z-index: 1000;
  position: fixed;
  height: 100vh;
  display: flex;
  align-items: center;
  top: 0;
}

.side-nav-list {
  transform: translateX(-65%);
  pointer-events: auto;
  color: var(--primary-text-color);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  transition: 0.5s;
}

.side-nav-list:hover {
  height: 100%;
  transform: translateX(0);
  background-image: linear-gradient(to right, black 40%, transparent);
}
.side-navbar:hover {
  width: 100%;
  backdrop-filter: brightness(20%);
}

.side-nav-item {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: relative;
  color: var(--inactive-nav-item, rgb(164, 164, 164));
}

.side-nav-icon {
  position: relative;
}
.side-nav-item.active {
  color: var(--primary-text-color);
}

.side-nav-item.active .side-nav-icon::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: -6.5px;
  left: 0;

  background-color: var(--accent-color);
}

.side-nav-text {
  margin-right: 1.28rem;
}

.side-nav-item:hover {
  cursor: pointer;
  border-radius: 0.2rem;
}

.side-nav-item::after {
  content: '';
  transform: scaleX(0);
  background-color: var(--accent-color);
  width: 100%;
  transform-origin: left;
  border-radius: 0.5rem;
  height: 3px;
  bottom: -5px;
  position: absolute;
  transition: 0.2s;
}

.side-nav-item:hover::after {
  transform: scaleX(1);
}

@media screen and (max-width: 596px) {
  .side-navbar {
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    top: auto;
    bottom: -2rem;
    height: min-content;
  }

  .side-nav-list {
    width: 100%;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
  }

  .side-nav-list,
  .side-nav-list:hover {
    transform: translateX(0);
    background-image: linear-gradient(to top, rgb(0, 0, 0.8) 60%, transparent);
  }

  .side-navbar:hover {
    backdrop-filter: none;
  }

  .side-nav-item {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
  }

  .side-nav-item.active .side-nav-icon {
    color: var(--accent-color);
  }

  .side-nav-item.active .side-nav-icon::after {
    display: none;
  }

  .side-nav-icon {
    font-size: 1rem;
  }

  .side-nav-text {
    margin: 0;
    margin-top: 5px;
  }
}
