.video-list-section {
  position: relative;
  padding-block: 1rem;
  color: var(--primary-text-color);
  background-color: var(--secondary-bg-color);
}

.list-container {
  min-height: 100vh;
  margin: 1rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-template-rows: max-content;
  gap: 1.2rem;
}
