.video-card {
  margin: 0;
  box-shadow: none;
  width: 100%;
  color: var(--primary-text-color);
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.video-card:hover {
  cursor: pointer;
}

.video-card .card-head {
  padding: 0;
  grid-column: span 2;
  grid-row: 2;
  justify-self: start;
}

.video-card-subheading {
  color: #9e9e9e;
  margin-top: 5px;
}

.video-card .card-heading {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card-image-container {
  height: 10.5rem;
  width: 100%;
  overflow: hidden;
  border-radius: 1.2rem;
  aspect-ratio: 16/9;
}

.card-foot .btn-like-active {
  color: var(--accent-color);
}

.video-card-foot {
  padding: 0;
  align-self: center;
  justify-self: end;
  display: flex;
  align-items: center;
}
.card-action-btn {
  height: 2rem;
  width: 2rem;
  color: var(--primary-text-color);
  padding: 8px;
  margin-right: 0.2rem;
  border: none;
}

.card-action-btn:hover {
  box-shadow: none;
}

.card-action-btn:active {
  transform: translateY(4px);
}
