.card {
  margin: 0;
  box-shadow: none;
  max-height: 15rem;
  /* width: 20rem; */
  width: 100%;

  color: var(--primary-text-color);
  position: relative;
  /* background-color: var(--modal-card-background-color); */
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
}

.video-card-container {
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  /* aspect-ratio: 16/9; */
}

.video-card-container .card-head {
  width: 12rem;
}

.video-card-container .card-heading {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card-foot {
  padding-left: 0;
}

.card-image-container {
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  /* Added later*/
  height: 65%;
}

/* Added later */
.video-card-image {
  border-radius: 0.5rem;
}
/*      */

.card-foot .btn-like-active {
  color: var(--accent-color);
}

.video-card-foot {
  padding-right: 0;
}
.card-action-btn {
  height: 2em;
  width: 2em;
  color: var(--primary-text-color);
  background-color: var(--modal-card-background-color);
  padding: 8px;
  margin-right: 0.2rem;
  border: none;
}

.card-action-btn:hover {
  box-shadow: none;

  /* filter: brightness(0%); */
  /* color: var(--primary-text-color); */
}

.card-action-btn:active {
  transform: translateY(4px);
}

/* 

@media screen and (min-width: 524px) {
  .card {
    width: 18rem;
  }

  .video-card-container .card-head,
  .video-card-container .card-foot,
  .video-card-container .card-content {
    padding: 0;
  }
} */
