.category-card-container {
  min-width: fit-content;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0.5rem;

  border-radius: 1.2rem;
  background-color: var(--modal-card-background-color);
}

.category-card-container:hover {
  cursor: pointer;
  background-color: var(--hover-color);
}

.category-card-container:first-child {
  margin-left: 0;
}
