.sort-by-section {
  position: relative;
}

.btn-sort {
  background-color: var(--modal-card-background-color);
  color: var(--primary-text-color);
  border-radius: 0.5rem;
}

.sort-by-values-list {
  position: absolute;
  width: fit-content;
  background-color: var(--modal-card-background-color);
  top: 2.8rem;
  padding: 0.5rem 0.62rem;
  border-radius: 0.5rem;
  z-index: 1;
  transform: translateY(-10px);
  opacity: 0;
  pointer-events: none;
  transform-origin: top;
  transition: all 150ms;
}

.sort-by-values-list.display-list {
  transform: translateY(0);
  opacity: 1;
}
.sort-list-items {
  padding-block: 0.5rem;
}

.sort-by-values-list.sort-by-values-list.display-list .sort-list-items {
  pointer-events: auto;
}

.sort-list-items:hover,
.sort-list-items:hover input ~ label {
  cursor: pointer;
}

.sort-list-items label::before {
  visibility: hidden;
}

.sort-list-items input:checked + label {
  font-weight: 700;
  text-decoration: underline;
}

.sort-list-items input:checked ~ label::before {
  visibility: visible;
}

.sort-list-items {
  position: relative;
}

.sort-list-items input[type='radio'] {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
  cursor: pointer;
}

.horizontal-line {
  height: 1px;
  width: 100%;
  background-color: var(--secondary-bg-color);
}
