.navigation {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* margin-bottom: 4rem; */
  z-index: 1000;
  height: 4rem;
  width: 100%;
  padding: 0.5rem 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;

  background-color: var(--secondary-bg-color);
}

.navigation * {
  color: var(--primary-text-color);
}

.logo-container {
  flex: 0;
}

.navigation-menu {
  flex: 1;
}

.navigation-list {
  flex: 2;
  justify-content: end;
  align-items: flex-end;
}

.navigation-item {
  border-radius: 0.5rem;
  margin-right: 0.5rem;
}

.navigation-item:hover,
.navigation-item:focus,
.drawer-btn:hover {
  cursor: pointer;
}

.navigation-link {
  height: 2.5rem;
  border-radius: 0.5rem;
  backdrop-filter: blur(8px);
}

.title-studio {
  color: var(--accent-color);
}

.navigation-responsive {
  display: none;
  justify-content: space-between;
  align-items: center;
}

.navigation-responsive .navigation-menu {
  position: absolute;
  background-color: var(--primary-text-color);
  box-shadow: -4px 8px 16px rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  height: 100vh;
  top: 0;
  right: 0;
  /* transform: translateX(120%); */
  transition: transform 1s;
  z-index: 3;
}

.navigation-responsive .navigation-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.navigation-responsive .search-container {
  width: 50%;
}

@media only screen and (max-width: 53.12em) {
  /* .hamburger-icon {
    display: block;
    font-size: 1.5rem;
  }

  .navigation-item:not(:last-child) {
    display: none;
  } */
  /* .navigation-menu-responsive {
    transform: translateX(-1vw);
  } */
  /* 
  .navigation-menu-responsive .navigation-item:not(:last-child) {
    display: block;
    transition: 0.2s;
  } */
}

@media only screen and (max-width: 47.5em) {
  /* .navigation {
    padding-inline: 0;
   
  }

  .logo-container {
    justify-self: start;
  } */

  /* .navigation {
    grid-template-columns: repeat(2, 1fr);
  } */

  /* .search-container {
    display: none;
  } */

  .navigation-responsive {
    display: flex;
  }

  .navigation-responsive .navigation-list {
    justify-content: start;
    margin-top: 0.5rem;
  }

  .navigation.navigation-responsive .textbox {
    min-width: 13rem;
    margin-right: 0;
  }
}
