iframe {
  width: 100%;
  height: 100%;
}

.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: end;
  padding-block-start: 5rem;
  padding-block-end: clamp(2rem, 5%, 5rem);
  overflow: hidden;
}

.carousel-image-container {
  overflow: hidden;
  max-height: 65vh;
  object-fit: cover;
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 1.2rem;
  margin-bottom: 1.2rem;
}

.carousel-bg-img {
  width: 100%;
  height: 100%;
  border-radius: 0.8rem;
  object-position: center;
  object-fit: cover;
}

.carousel-video-title {
  margin-bottom: 1rem;
  max-width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0.2rem;
}

.carousel-watch-btn {
  font-size: 1.2rem;
  z-index: 1;
  border: none;
  color: var(--secondary-bg-color);
  position: relative;
}

.carousel-watch-btn::after {
  content: '';
  border-radius: 0.2rem;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.5s;
  background-color: var(--accent-color);
}
.btn-white:hover {
  box-shadow: none;
  background-color: var(--primary-text-color);
}

.carousel-watch-btn:hover::after {
  transform: scaleX(1);
}

.carousel-watch-btn:active {
  transform: translateY(4px);
}
