.categories-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 4rem;
  z-index: 2;
}

.categories-section.video-list-section {
  padding-block: 0;
}

.categories-container {
  display: flex;
  position: relative;
  flex-wrap: nowrap;
  flex-shrink: 0;
  overflow-x: scroll;
  overscroll-behavior-inline: contain;
  gap: 0;
  width: 100%;
}

.categories-container::-webkit-scrollbar {
  height: 2 px;
}

@media screen and (max-width: 1200px) {
  .categories-container {
    width: 100%;
  }
  .categories-container::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}
